@page "/settings/import"

<SettingsPageLayout>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="height: 100%">
        <MudPaper Style="height: 100%">
            @if(ImportProfilesList is null)
            {
                <p>laddar</p>
            }
            else
            {
                @foreach (var item in ImportProfilesList)
                {
                    <MudText Typo="Typo.subtitle2">@item.Name</MudText>
                }
            }
            
        </MudPaper>
    </MudContainer>
</SettingsPageLayout>

@code {
    [Inject] public required IImportSettingsService ImportSettingsService { get; set; }

    public ICollection<EstimationImportSettings>? ImportProfilesList { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await RefreshImportProfilesList();
    }
    public async Task RefreshImportProfilesList()
    {
        ImportProfilesList = null;
        StateHasChanged();
        ImportProfilesList = await ImportSettingsService.GetAllAsync();
        StateHasChanged();
    }
}
