<MudDialog>
    <DialogContent>
        <MudForm @ref="Form" Class="pt-3">
            <MudTextField @bind-Value="OrgName" Validation="@(new Func<string?, string?>(ValidateName))" Label="@Localizer["Organisationsnamn"]" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <div Class="pr-4 pb-2">
            <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Inherit">@Localizer["Stäng"]</MudButton>
            <MudButton OnClick="Close" Variant="Variant.Filled" Color="Color.Success">@Localizer["Ok"]</MudButton>
        </div>
    </DialogActions>
    
</MudDialog>

@code {
    [CascadingParameter] public required MudDialogInstance MudDialog { get; set; }
    [Inject] public required IStringLocalizer<NewOrganizationDialog> Localizer { get; set; }
    string OrgName { get; set; } = string.Empty;

    public MudForm? Form { get; set; }

    void Close()
    {
        Form!.Validate();
        if (Form!.IsValid)
        {
            MudDialog.Close(OrgName);
        }
    }
    void Cancel() => MudDialog.Cancel();
    string? ValidateName(string? name)
    {
        if(string.IsNullOrEmpty(name))
        {
            return Localizer["Obligatorisk"];
        }
        if(name.Length > 50)
        {
            return Localizer["Namn får ej vara mer än 50 tecken långt"];
        }
        return null;
    }
}
