<div>
    @foreach (var item in TreeItems!.OrderBy(x => x.Name))
    {
        <DbTreeItemViewPart TreeItem="item" IndentLevel="@IndentLevel" />
    }
</div>

@code {

    [Parameter, EditorRequired] public HashSet<TreeItem>? TreeItems { get; set; }
    [Parameter, EditorRequired] public int IndentLevel { get; set; } = 0;
}