<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="CentralSystemServerName" value="RHUSAPP02\ELECOSOFT" />
    <add key="CentralSystemDatabaseName" value="BidConSystem" />
    <add key="CentralSystemDatabaseUserId" value="sa" />
    <add key="CentralSystemDatabasePassword" value="VX3EEWKNQrrBQp+52Ct5Gw==" />
    <add key="CentralEstimationServerName" value="RHUSAPP02\ELECOSOFT" />
    <add key="CentralEstimationDatabaseName" value="BidConEstimation" />
    <add key="CentralEstimationDatabaseUserId" value="sa" />
    <add key="CentralEstimationDatabasePassword" value="VX3EEWKNQrrBQp+52Ct5Gw==" />
    <add key="LocalSystemServerName" value="RHUSAPP02\ELECOSOFT" />
    <add key="LocalSystemDatabaseName" value="BidConSystem" />
    <add key="LocalSystemDatabaseUserId" value="sa" />
    <add key="LocalSystemDatabasePassword" value="1xIFE/OYDJuUDSGwDNJUTw==" />
    <add key="LocalEstimationServerName" value="RHUSAPP02\ELECOSOFT" />
    <add key="LocalEstimationDatabaseName" value="BidConEstimation" />
    <add key="LocalEstimationDatabaseUserId" value="sa" />
    <add key="LocalEstimationDatabasePassword" value="1xIFE/OYDJuUDSGwDNJUTw==" />
    <add key="DBBackupPath" value="J:\Backup" />
    <add key="TempPhysicalPath" value="J\Bidcon\Temp" />
    <add key="TempNetworkPath" value="J:\Bidcon\Temp" />
    <add key="PlanConExportPath" value="J:\Bidcon\Bidcon\Trans" />
    <add key="ExportPath" value="J:\Bidcon\Export" />
    <add key="TemplatePath" value="J:\Bidcon\Template" />
    <add key="PricelistPath" value="J:\Bidcon\Pricelists" />
    <add key="ProjectSavePath" value="J:\Bidcon\Estimations" />
    <add key="SystemDBUpdateTempPath" value="J:\Bidcon\Update" />
    <add key="SystemDBUpdateNetworkPath" value="J:\Bidcon\Update" />
    <add key="LocalTempPath" value="J:\Bidcon\LocalTemp" />
    <add key="PriceInquiryTemplatePath" value="J:\Bidcon\PriceInquiryTemplate" />
    <add key="SummarySheetsPath" value="J:\Bidcon\SummarySheets" />
    <add key="ImportPath" value="J:\Bidcon\Import" />
    <add key="PowerprojectExportPath" value="J:\Bidcon\PowerprojectExport" />
    <add key="BimTakeOffTemplateAndTexturePath" value="J:\Bidcon\Bim" />
    <add key="BIMOfflinePath" value="J:\Bidcon\Bim" />
    <add key="LogTo" value="0" />
    <add key="LogFile" value="J:\Bidcon\BidCon.log" />
    <add key="EventViewerName" value="BidCon.NET" />
    <add key="EstimationDBMode" value="1" />
    <add key="DBMode" value="1" />
    <add key="EstimationTemplateMode" value="1" />
    <add key="EioPricelistWebAddress" value="http://www.eio.se/tools/elwind.asp" />
    <add key="ElecoBIMCloudAddress" value="https://www.elecobimcloud.com" />
    <add key="CheckForUpdate" value="0" />
    <add key="UpdateInterval" value="6" />
    <add key="LastCheck" value="2022-02-17 15:27:28" />
    <add key="ScheduleInterval" value="-1" />
    <add key="DatabaseBackupsPath" value="J:\Backup" />
    <add key="OverwriteExistsBackups" value="False" />
    <add key="LastTakenBackupDate" value="2022-05-12" />
    <add key="ConnectionTimeOutValue" value="60" />
    <add key="SqlServerAuthenticationMode" value="1" />
    <add key="UpdateApiUrl" value="https://www.elecosoft.se/UpdateBidcon/api/v1/updates/" />
    <add key="LastCheckVersion" value="2022.1.22046.1" />
    <add key="LastPricelistAutoUpdate" value="0001-01-01 00:00:00" />
    <add key="IFCValidationTemplatePath" value="J:\Bidcon\Bim\ValidationTemplates" />
    <add key="PricelistImportReportPath" value="" />
    <add key="FilesVersions" value="BYGG=2022.1.22137.2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EstimationExamplePath" value="J:\Bidcon\EstimationExamples" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>