@page "/suppliers"

<PageLayout>
    <NavigationContent>
        <MudStack Spacing="0">


        </MudStack>
    </NavigationContent>
    <ChildContent>
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <div>this is from the /suppliers page</div>
        }
    </ChildContent>
</PageLayout>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Inject] public required StyleService StyleService { get; set; }
}