@page "/authentication/{action}"

<div class="pa-4">
    <RemoteAuthenticatorView Action="@Action">
        <LoggingIn>
            <MudOverlay DarkBackground="true" Visible="true" ZIndex="99999">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                <h4>Logging in</h4>
            </MudOverlay>
        </LoggingIn>


        <Registering>
            <MudOverlay DarkBackground="true" Visible="true">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                <h4>Registering</h4>
            </MudOverlay>
        </Registering>

        <UserProfile>
            <MudOverlay DarkBackground="true" Visible="true">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                <h4>UserProfile is loaded....</h4>
            </MudOverlay>
        </UserProfile>

        <CompletingLoggingIn>
            <MudOverlay DarkBackground="true" Visible="true">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                <h4>CompletingLoggingIn</h4>
            </MudOverlay>
        </CompletingLoggingIn>

        <LogOut>
            <MudOverlay DarkBackground="true" Visible="true">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                <h4>Logout from the application</h4>
            </MudOverlay>
        </LogOut>

        <CompletingLogOut>
            <MudOverlay DarkBackground="true" Visible="true">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                <h4>CompletingLogOut</h4>
            </MudOverlay>
        </CompletingLogOut>

        <LogInFailed>
            <h4>Login failed. Reason: @context</h4>
        </LogInFailed>

        <LogOutFailed>
            <h4>Logout failed. Reason: @context</h4>
        </LogOutFailed>

    </RemoteAuthenticatorView>
</div>

@code{
    [Parameter] public string? Action { get; set; }
}
