@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<RemoteAuthenticatorView Action="@Action" OnLogInSucceeded="TriggerAppwideStateHasChanged" OnLogOutSucceeded="TriggerAppwideStateHasChanged">
    <LoggingIn>
        <span>LoggingIn</span>
    </LoggingIn>
    <Registering>
        <span>Registering</span>
    </Registering>
    <UserProfile>
        <span>UserProfile is loaded....</span>
    </UserProfile>
    <CompletingLoggingIn>
        <span>CompletingLoggingIn</span>
    </CompletingLoggingIn>
    <LogInFailed>
        <span>Login failed. Reason: @context</span>
    </LogInFailed>
    <LogOut>
        <span>Logout from the application</span>
    </LogOut>
    <CompletingLogOut>
        <span>CompletingLogOut</span>
    </CompletingLogOut>
    <LogOutFailed>
        <span>Logout failed. Reason: @context</span>
    </LogOutFailed>
</RemoteAuthenticatorView>


@code{
    [Inject] public required IAuthStateTrigger AuthStateTrigger { get; set; }
    [Parameter, EditorRequired] public string? Action { get; set; }

    public async Task TriggerAppwideStateHasChanged()
    {
        await AuthStateTrigger.TriggerAuthStateChangedAsync();
    }
}
