@page "/"

<PageTitle>Index</PageTitle>

<button @onclick="Click">GetInfo</button>

<h3>@Graph</h3>

<CurrentSession />

@code {
    [Inject] public required HttpClient HttpClient { get; set; }
    public required string Graph { get; set; } = string.Empty;
    public async Task Click()
    {
        var result = await HttpClient.GetAsync("/usergraph/me");
        Graph = await result.Content.ReadAsStringAsync();
    }
}

