<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <span>LoggingIn</span>
    </LoggingIn>
    <Registering>
        <span>Registering</span>
    </Registering>
    <UserProfile>
        <span>UserProfile is loaded....</span>
    </UserProfile>
    <CompletingLoggingIn>
        <span>CompletingLoggingIn</span>
    </CompletingLoggingIn>
    <LogOut>
        <span>Logout from the application</span>
    </LogOut>
    <CompletingLogOut>
        <span>CompletingLogOut</span>
    </CompletingLogOut>

    <LogInFailed>
        <span>Login failed. Reason: @context</span>
    </LogInFailed>
    <LogOutFailed>
        <span>Logout failed. Reason: @context</span>
    </LogOutFailed>
</RemoteAuthenticatorView>


@code{
    [Parameter, EditorRequired] public string? Action { get; set; }
}
