@using Client.Shared.EstimationViewTemplate.Services;
<ExpansionFrame TitleText="@Localizer["Vy mallar"]" Style="position: relative; background-color: var(--mud-palette-background)">

    <MudOverlay DarkBackground="true" Visible="IsLoading" Absolute="true">
        <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
    </MudOverlay>

    <div class="pa-4">
        
    </div>


</ExpansionFrame>
@code {
    [Inject] public required IStringLocalizer<EstimationViewFrame> Localizer { get; set; }
    [Inject] public required IEstimationViewTemplateServices _templateService { get; set; }

    bool IsLoading = true;


    protected override void OnInitialized()
    {
        IsLoading = false;
        StateHasChanged();
    }
}