<MudPaper Style="height: 30px; background-color: var(--mud-palette-table-lines);" Elevation="0" Class="border-t border-solid d-flex justify-space-between">
    <div class="d-flex justify-start align-self-stretch my-auto" style="width: 33%">
        <input value="@Scale.ToString()%" @onchange="OnChange" class="ml-1 border border-solid " style="width: 50px;" />
    </div>
    <div class="d-flex justify-center align-self-stretch" style="width: 33%">
    </div>
    <div class="d-flex justify-end align-self-stretch" style="width: 33%">
    </div>
</MudPaper>

@code {
    [Parameter] public double? Scale { get; set; }
    [Parameter] public EventCallback<double> ScaleChanged { get; set; }

    void OnChange(ChangeEventArgs args)
    {
        if (double.TryParse(args.Value?.ToString(), out double result))
        {
            Scale = result;
            ScaleChanged.InvokeAsync(result);
        }
    }
}
