@using Client.Features.Settings.EstimationView.Models;
@using Client.Shared.EstimationViewTemplate.Models.SectionModels;

<style>
    .section:hover{
        background-color: var(--mud-palette-table-hover);
    }
</style>


<div>
    @foreach (var section in Sections)
    {
        <div class="@RowClass(section)" @onclick="(args) => Select(args, section)">
                @if (section is DataSection dataSection)
                {
                    <DataSectionIllustrator />
                }
                @if (section is SheetSection sheetSection)
                {
                    <SheetSectionIllustator Section="sheetSection" />
                }
            </div>
    }
</div>

@code {
    [Parameter, EditorRequired] public required IEnumerable<IViewSection> Sections { get; set; }
    [Parameter] public SectionSelection? Selection { get; set; }
    [Parameter] public EventCallback<SectionSelection> SelectionChanged { get; set; }

    string RowClass(IViewSection section) => Selection?.Section == section ? "section-selected blue lighten-5" : "section";

    void Select(MouseEventArgs args, IViewSection section, ISectionTool? tool = null)
    {
        Selection = new SectionSelection(section, tool);
        SelectionChanged.InvokeAsync(Selection);
    }
}
