<style>
    .section-toolbar{
        transition: height 100ms ease-out;
    }

    .section-toolbar-active{
        height: 60px;
        margin-bottom: 4px;
    }

    .section-toolbar-inactive{
        height: 0;
    }
</style>

<div style="background-color: var(--mud-palette-background-grey);" class="@Class">
    @if(IsActive)
    {
        @ChildContent
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool IsActive { get; set; }
    [Parameter] public EventCallback<bool> IsActiveChanged { get; set; }

    string Class => IsActive ? 
        "d-flex align-stretch border-b border-solid section-toolbar section-toolbar-active" :
        "d-flex border-solid section-toolbar section-toolbar-inactive";
}
