@using Client.Shared.EstimationViewTemplate.Models.SectionModels;

<div class="d-flex" style="min-height: 30px">
    @foreach (var column in Section.Columns)
    {
        <div style="@($"width: {column.WidthPercent}")">
            Format
        </div>
    }
</div>


@code {
    [Parameter, EditorRequired] public required SheetSection Section { get; set; }
}
