@using AppPlatform.Core.Enums.ViewTemplate
@using AppPlatform.Core.Services
@inject ISheetDataService SheetDataService

<div class="d-flex gap-2">
    <div style="width: 50%">
        <SelectList T="SheetColumnType" DropDownLabel="@Localizer["Kolumn"]" ShowActions="false" Items="Enum.GetValues<SheetColumnType>().ToList()" ListVariant="ListVariant.DropDown"
                    @bind-SelectedItem="SelectedColumnType" GetItemNameFunc="SheetDataService.GetColumnTypeName" />
    </div>
    <div style="width: 50%">
        <SelectList T="SheetRowType" DropDownLabel="@Localizer["Rad"]" ShowActions="false" Items="Enum.GetValues<SheetRowType>().ToList()" ListVariant="ListVariant.DropDown"
                    @bind-SelectedItem="SelectedRowType" GetItemNameFunc="SheetDataService.GetRowTypeName" />
    </div>
</div>

<SheetCellEditor Section="Section" SheetColumnType="SelectedColumnType" SheetRowType="SelectedRowType"/>




@inject IStringLocalizer<SheetSectionEditor> Localizer
@code {
    [Parameter] public SheetSection? Section { get; set; }
    [Parameter] public View? View { get; set; }

    SheetColumnType SelectedColumnType = SheetColumnType.Description;
    SheetRowType SelectedRowType = SheetRowType.Group;

}