@using Client.Features.Settings.EstimationView.Popover.Models;
@using Client.Shared.EstimationViewTemplate.Models;
@using Client.Shared.EstimationViewTemplate.Models.SectionModels;
@using Client.Shared.EstimationViewTemplate.Services;
@using System.Globalization;


<MudForm @ref="Form" Model="Template" Class="@(IsVisible ? VisibleFormClass : HiddenFormClass)" Style="height: 100%; background-color: var(--mud-palette-background-grey);">

    <MudOverlay DarkBackground="true" Visible="IsLoading" Absolute="true">
        <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
    </MudOverlay>
        
    <HeaderToolbar CloseRequest="Close" 
                   SaveAndCloseRequest="SaveAndClose" 
                   CreateNewSectionRequest="CreateNewSection"
                   DeleteSectionRequest="DeleteSection"
                   Selection="Selection"
                   SectionsInOrder="Template.SectionsInOrder.ToList()" 
                   OrderChanged="StateHasChanged" /> 
    <SectionSpecificToolbar Selection="Selection" />
        

    <div class="pa-4" style="height: calc(100% - 110px); overflow: auto;">
        <MudPaper Elevation="3" Style="@($"min-height: 200px; width: 794px; transform: scale({(Scale/100).ToString(CultureInfo.InvariantCulture)}); transform-origin: top")" Class="mx-auto">
            <SectionList Sections="Template.SectionsInOrder" Selection="Selection" SelectionChanged="OnSelectedSectionChanged" />
        </MudPaper>
    </div>

    <FooterBar @bind-Scale="Scale"/>



</MudForm>

@code {

    [Inject] public required IStringLocalizer<EditTemplatePopover> Localizer { get; set; }
    [Inject] public required IEstimationViewTemplateServices TemplateService { get; set; }
    [Parameter, EditorRequired] public required EstimationViewFrameContent ParentComponent { get; set; }

    [Parameter] public EventCallback UpsertSuccefulCallback { get; set; }


    double Scale = 100;
    ViewTemplate Template { get; set; } = new() { Name = string.Empty };
    SectionSelection? Selection { get; set; }
    MudForm? Form;
    bool IsLoading = false;

    bool IsVisible { get; set; } = false;
    string HiddenFormClass = "fullscreen d-none relative";
    string VisibleFormClass = "fullscreen zoom-in relative";

    void CreateNewSection(IViewSection section)
    {
        section.Order = Template.DataSections.Count + Template.SheetSections.Count;
        if(section is DataSection dataSection)
        {
            Template.DataSections.Add(dataSection);
        }
        else if(section is SheetSection sheetSection)
        {
            Template.SheetSections.Add(sheetSection);
        }
        Selection = new SectionSelection(section, null);
        StateHasChanged();
    }
    void DeleteSection(IViewSection section)
    {
        if (section is DataSection dataSection)
        {
            Template.DataSections.Remove(dataSection);
        }
        else if (section is SheetSection sheetSection)
        {
            Template.SheetSections.Remove(sheetSection);
        }
        Selection = null;
        StateHasChanged();
    }
    void OnSelectedSectionChanged(SectionSelection selectionModel)
    {
        Selection = selectionModel;
    }
    void SetIsLoading(bool isLoading)
    {
        IsLoading = isLoading;
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        //Parentcomponent activates the ShowPopOver method
        ParentComponent.ShowPopoverFunction = ShowPopOver;
    }
    async Task ShowPopOver(Guid? id)
    {
        IsVisible = true;
        StateHasChanged();
        await LoadTemplate(id);
    }
    async Task LoadTemplate(Guid? id)
    {
        if (id is not null)
        {
            try
            {
                SetIsLoading(true);
                Template = await TemplateService.GetAsync(id.Value);
            }
            catch (Exception)
            {
                //Handle exception
                throw;
            }
            SetIsLoading(false);
        }
        else
        {
            Template = new() { Name = string.Empty };
        }
    }
    async Task SaveAndClose()
    {
        Form?.Validate();
        if(Form?.IsValid == true)
        {
            try
            {
                SetIsLoading(true);
                await TemplateService.UpsertAsync(Template);
                await UpsertSuccefulCallback.InvokeAsync();
                Close();
            }
            catch (Exception)
            {
                SetIsLoading(false);
                //handle exception
                throw;
            }
        }

    }
    void Close()
    {
        IsVisible = false;
        SetIsLoading(false);
    }
}