@using Client.Shared.EstimationViewTemplate.Models.SectionModels;

<style>
    .section-item{

    }
    .section-item:hover{
        background-color: var(--mud-palette-table-hover);
    }
    .selected{
        border: 1px;
        border-color: var(--mud-palette-primary);
    }
</style>

<div style="width: 100%" class="@($"section-item mud-ripple border-b border-solid {(Selected ? "selected" : string.Empty)}")" @onclick="Select">
    @if (Section is DataSection dataSection)
    {
        <DataSectionIllustrator />
    }
    @if (Section is SheetSection sheetSection)
    {
        <SheetSectionIllustator Section="sheetSection" />
    }
</div>

@code {
    [Parameter, EditorRequired] public required IViewSection Section { get; set; }
    [Parameter] public bool Selected { get; set; } = false;
    [Parameter] public EventCallback<IViewSection> SelectedChanged { get; set; }

    void Select(MouseEventArgs args)
    {
        Selected = true;
        SelectedChanged.InvokeAsync(Section);
    }
}
