@page "/settings"
@using BidConReport.Client.Features.Settings.Appearance
@using BidConReport.Client.Features.Settings.BidconCredentials
@using BidConReport.Client.Features.Settings.BidconSettings


<MudContainer MaxWidth="MaxWidth.Medium">

    <MudStack Spacing="4" Class="py-4">

        <AppearanceFrame />

        <CredentialsFrame />

    </MudStack>

</MudContainer>


@*<div style="height: 100%; width: 100%; overflow: auto;">
    
</div>*@
@*
<PageTabLayout>
    
    <CommonSettingsTab />
    <BidconSettingsTab />
</PageTabLayout>*@

@code {
    [Inject] public required IStringLocalizer<SettingsPage> Localizer { get; set; }
}
