@page "/settings"
@using BidConReport.Client.Features.Settings.Appearance
@using BidConReport.Client.Features.Settings.BidconCredentials
@using BidConReport.Client.Features.Settings.BidconSettings
@using BidConReport.Client.Features.Settings.License
@using BidConReport.Client.Features.Settings.Roles

<div style="overflow: auto; max-height: 100%">
    <MudContainer MaxWidth="MaxWidth.Medium">

        <MudStack Spacing="4" Class="py-4">
            <AppearanceFrame />
            <CredentialsFrame />
            <LicenseFrame/>
            <RolesFrame/>
        </MudStack>

    </MudContainer>
</div>

@code {
    [Inject] public required IStringLocalizer<SettingsPage> Localizer { get; set; }
}
