:root {
    --bidcon-color: #fed932
}
.expand-100 {
    height: 100px;
    opacity: 1;
    animation-name: expand-100-animation;
    animation-duration: 0.3s;
}

@keyframes expand-100-animation {
    from {
        height: 0px;
        visibility: hidden;
        opacity: 0;
    }

    to {
        height: 100px;
        visibility: initial;
        opacity: 1;
    }
}

.minimize-100 {
    height: 0px;
    visibility: hidden;
    animation-name: minimize-100-animation;
    animation-duration: 0.3s;
}

@keyframes minimize-100-animation {
    from {
        height: 100px;
    }

    to {
        height: 0px;
    }
}

.fade-in {
    animation-name: fade-in-animation;
    animation-duration: 0.2s;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    animation-name: fade-out-animation;
    animation-duration: 0.2s;
}
@keyframes fade-out-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

table.striped {
    border-collapse: collapse;
    width: 100%;
}
table.striped th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
}
table.striped tr:nth-child(even) {
    background-color: #f2f2f2;
}
table.striped .mud-icon-button {
    padding: 8px;
}
.span-40 span{
    padding: 8px;
}


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
    font-family: Arial;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}
