.container {
    position: relative;
    display: inline-block;
    user-select: none;
    overflow: visible;
}

.container-enabled {
    color: var(--mud-palette-text-primary);
    cursor: pointer;
}

.container-disabled {
    color: var(--mud-palette-action-disabled);
}

.content-inactive {
    display: none;
}

.content-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: var(--mud-palette-background);
    box-shadow: var(--mud-elevation-2);
}

.activator{
    transition: background-color 75ms linear;
}
    .activator:hover {
        background-color: var(--mud-palette-action-default-hover);
        /*background-color: var(--mud-palette-primary-hover);*/
    }
