:root {
    --bidcon-color: #fed932;
}
 * {
    border-color: var(--mud-palette-lines-inputs);
}
table.table-row-border {
    border-collapse: collapse;
    width: 100%;
}

table.table-row-border tr:nth-child(n+2) {
    border-top-width: 1px;
    border-style: solid;
}

table.striped {

}
table.striped th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
}

table.striped tr:nth-child(even) {
    background-color: var(--mud-palette-background-grey);
}
table.striped tr:nth-child(odd) {
    background-color: var(--mud-palette-background);
}
/*table.striped .mud-icon-button {
    padding: 8px;
    margin: 0;
}*/
.span-40 span{
    padding: 8px;
}


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
    font-family: Arial;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}
