.expand {
    max-height: 500px;
    overflow: hidden;
    animation-name: expand-animation;
    animation-duration: 0.3s;
}

@keyframes expand-animation {
    from {
        max-height: 0px;
    }

    to {
        max-height: 114px;
    }
}

.minimize {
    max-height: 0;
    overflow: hidden;
    animation-name: minimize-animation;
    animation-duration: 0.3s;
}

@keyframes minimize-animation {
    from {
        max-height: 114px;
    }

    to {
        max-height: 0;
    }
}

/*.button-ma-0{
    background-color: magenta;
}
.button-ma-0 button {
    margin: 0 !important;
}*/
table button{
    margin: 0;
}

