@inject IStringLocalizer<RightsTab> Localizer
@inject IViewService _viewService

@* 
<div class="d-flex gap-2 NoMarginPls">
    <MudTextField T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="@Localizer["Teckensnitt"]" Style="width: 200px; height: 36px;" />
    <MudTextField T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Adornment="Adornment.None" AdornmentIcon="@Icons.Material.Sharp.FormatSize" Style="width: 55px; ; height: 36px;" />
</div> *@

<ViewRights View="View" />
@code{
    [Parameter] public Estimation? Estimation { get; set; }
    [Parameter] public View? View { get; set; }
}