@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject GraphServiceClient _graphServiceClient
@inject OnLoginScopedData _loginData

<RemoteAuthenticatorView Action="@Action" OnLogInSucceeded="_loginData.SetPhotoStringAsync" OnLogOutSucceeded="() => _loginData.ProfilePhotoString = string.Empty">
    <LoggingIn>
        <span>LoggingIn</span>
    </LoggingIn>
    <Registering>
        <span>Registering</span>
    </Registering>
    <UserProfile>
        <span>UserProfile is loaded....</span>
    </UserProfile>
    <CompletingLoggingIn>
        <span>CompletingLoggingIn</span>
    </CompletingLoggingIn>
    <LogInFailed>
        <span>Login failed. Reason: @context</span>
    </LogInFailed>
    <LogOut>
        <span>Logout from the application</span>
    </LogOut>
    <CompletingLogOut>
        <span>CompletingLogOut</span>
    </CompletingLogOut>
    <LogOutFailed>
        <span>Logout failed. Reason: @context</span>
    </LogOutFailed>
</RemoteAuthenticatorView>


@code{
    [Parameter] public string? Action { get; set; }
    //private async Task OnLogInSucceded(RemoteAuthenticationState state)
    //{
    //    await _loginData.SetPhotoStringAsync();
    //}
    //private void OnLogOutSucceded(RemoteAuthenticationState state)
    //{
    //    _loginData.ProfilePhotoString = string.Empty;
    //}
}
