@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<RemoteAuthenticatorView Action="@Action" OnLogInSucceeded="() => SendAuthenticationChangedMessage(true)" OnLogOutSucceeded="() => SendAuthenticationChangedMessage(false)">
    <LoggingIn>
        <span>LoggingIn</span>
    </LoggingIn>
    <Registering>
        <span>Registering</span>
    </Registering>
    <UserProfile>
        <span>UserProfile is loaded....</span>
    </UserProfile>
    <CompletingLoggingIn>
        <span>CompletingLoggingIn</span>
    </CompletingLoggingIn>
    <LogInFailed>
        <span>Login failed. Reason: @context</span>
    </LogInFailed>
    <LogOut>
        <span>Logout from the application</span>
    </LogOut>
    <CompletingLogOut>
        <span>CompletingLogOut</span>
    </CompletingLogOut>
    <LogOutFailed>
        <span>Logout failed. Reason: @context</span>
    </LogOutFailed>
</RemoteAuthenticatorView>


@code{
    [Parameter] public string? Action { get; set; }
    public void SendAuthenticationChangedMessage(bool isLoggedIn)
    {
        WeakReferenceMessenger.Default.Send(new AuthenticationChangedMessage(isLoggedIn));
    }
}
