<div class="d-flex align-stretch mud-elevation-3" style="height: @Height; position: fixed; width: 100%; z-index: 1000; background-color: var(--mud-palette-background);">
    @ChildContent
    <MudSpacer />
    <LoginDisplay />
</div>

@code {
    [Parameter, EditorRequired] public required string Height { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
