
@inherits LayoutComponentBase

<MudThemeProvider @ref="_themeProvider" Theme="CustomThemes.CollieStandard" />
<MudDialogProvider />
<MudSnackbarProvider />


<div class="pr-2 d-flex align-stretch mud-theme-primary mud-elevation-2" style="height: 40px;">
    <MudText Class="px-2 align-self-center" Typo="Typo.h6">Collie</MudText>
    @*<MudDivider Light="false" Vertical="true"/>*@
    <MudButton Href="/" Variant="Variant.Text" Color="Color.Inherit" Style="@GetSelectedPageStyle("/")">@Localizer["Inköp"]</MudButton>
    <MudButton Href="/inkop" Variant="Variant.Text" Color="Color.Inherit" Style="@GetSelectedPageStyle("/inkop")">@Localizer["Inköp"]</MudButton>
    <MudSpacer/>
    <LoginDisplay />
</div>

<div class="px-2">
    @Body
</div>

@code{
    public MudThemeProvider? _themeProvider { get; set; }
    [Inject] public required IStringLocalizer<MainLayout> Localizer { get; set; }
    [Inject] public required NavigationManager NavManager { get; set; }

    private string GetSelectedPageStyle(string href)
    {
        return string.Empty;
        //if(href.FirstOrDefault() == '/')
        //{
        //    href = href[1..];
        //}
        //var path = NavManager.Uri.Replace(NavManager.BaseUri, string.Empty);

        //if (path[0..href.Length] == href)
        //{
        //    return $"background-color: var(--mud-palette-primary-darken);";
        //}
        //else
        //{
        //    return "";
        //}
        
    }
}
