<div class="d-flex" style="height: 100%;">
    @if(NavigationContent is not null)
    {
        <div class="pa-4" style="height: 100%; overflow: auto">
            @NavigationContent
        </div>
    }
    <div class="py-4" style="height: 100%; width: 100%; overflow: auto">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? NavigationContent { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
