<div class="d-flex pa-4" style="height: 100%;">
    <div style="min-width: 150px;">
        @NavigationContent
    </div>
    <div class="ml-4" style="height: 100%; width: 100%; overflow: scroll">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? NavigationContent { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
