.cell-container {
    display: flex;
    height: 100%;
    display: flex;
    position: relative;
}

.cell-value {
    display: flex;
    flex-grow: 1;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
}

