@* <div class="table-container">
    <table style="width: 100%;">
        <colgroup>
            @ColumnDefinitionsContent
        </colgroup>
        <thead>
            @HeaderContent
        </thead>
        <tbody>               
            @BodyContent
        </tbody>
    </table>
</div> *@
<div class="table-container">
    <div style="width: 100%;">
        <div>
            @HeaderContent
        </div>
        <div>
            @BodyContent
        </div>
    </div>
</div>

@code{
    // [Parameter] public RenderFragment? ColumnDefinitionsContent { get; set; }
    [Parameter] public RenderFragment? HeaderContent { get; set; }
    [Parameter] public RenderFragment? BodyContent { get; set; }
}
