@* <tr style="@_style">
    @ChildContent
</tr> *@
<div style="@_style">
    @ChildContent
</div>

@code{
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int? Height { get; set; }

    string _style => Height is null ? string.Empty : $"height: {Height.Value * 2}px";
}