@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
<form id="microsoftloginId" action="Account/PerformExternalLogin" method="post">
    <AntiforgeryToken />
    <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
    <input type="hidden" name="provider" value="Microsoft" />
</form>
<script>
    window.submitForm = function (formId) {
        var form = document.getElementById(formId);
        if (form) {
            form.submit();
        }
    };

</script>
@code {
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("submitForm", "microsoftloginId");
    }
}
