@page "/projects"

<PageLayout>
    <NavigationContent>
        <MudButton Class="py-1 px-3" Variant="Variant.Text" StartIcon="@Icons.Material.Sharp.AccountBox">Some button</MudButton>
    </NavigationContent>
    <ChildContent>
        <h1>projects</h1>
    </ChildContent>    
</PageLayout>


