<div>
    @Estimation?.Description
</div>
@code {
    [Parameter] public DataSection? Section { get; set; }
    [Parameter] public bool EditMode { get; set; } = false;
    [Parameter] public Estimation? Estimation { get; set; }
}