@using AppPlatform.Shared.Components.View.DataSectionStuff
@inject IStringLocalizer<DataSectionPresenter> Localizer

@if(Section is not null)
{
    <div>
        @for (int i = 1; i <= Section.RowCount; i++)
        {
            <div class="row">
                @Localizer[$"Rad {i}"]
                @for (int j = 1; j <= Section.ColumnCount; j++)
                {
                    <div class="col">
                        <DataCellPresenter Estimation="@Estimation" />
                    </div>
                }
            </div>
        }

    </div>
}

@code {
    [Parameter] public DataSection? Section { get; set; }
    [Parameter] public bool EditMode { get; set; } = false;
    [Parameter] public Estimation? Estimation { get; set; }
}