table {
    transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-collapse: collapse;
    border: 1px solid transparent;
}

td, th {
    border: 1px solid transparent;
    /*transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/
    padding: 8px;
    margin: 1px;
}
td:hover, th:hover, table:hover {
    cursor: cell;
    border-color: var(--mud-palette-info);
    border-width: 2px;
    /* padding-top: 7px;
    padding-bottom: 7px;*/
    margin: 0px;
}

.selected {
    border-color: var(--mud-palette-info);
    border-width: 2px;
}
