<div class="d-flex border-r border-solid" style="flex-direction: column;">
    <div class="flex-grow-1 pt-2 pb-1 px-2">
        @ChildContent
    </div>
    <div class="d-flex justify-center">
        <MudText Typo="Typo.caption">@Title</MudText>
    </div>
</div>

@code{
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}