@using AppPlatform.Shared.Components.View.Edit

<CascadingValue Value="this">

    @if(EditMode)
    {
        <MudToolBar Class="border-b border-solid" DisableGutters="true" Style="height: 128px;">
            <div class="d-flex" style="height: 100%; width: 100%;">
                <EditActions />
            </div>
            
        </MudToolBar>
    }


    <div class="pa-4" style="height: calc(100%-128px); display: flex;">
        <div class="gap-4" style="display: flex; flex-direction: column;">
        
            <MudPaper Square="true" MinHeight="100px" MinWidth="100px">


                @foreach (var section in SectionsInOrder())
                {
                    if (section is SheetSection sheetSection)
                    {
                        <SheetSectionPresenter Section="sheetSection" Estimation="Estimation" EditMode="EditMode" View="View"/>
                    }
                    else if (section is DataSection dataSection)
                    {
                        <DataSectionPresenter Section="dataSection" Estimation="Estimation" />
                    }
                    else
                    {
                        throw new NotImplementedException();
                    }
                }


            </MudPaper>
        </div>
    
    </div>

</CascadingValue>

@code{
    [Parameter] public View? View { get; set; }
    [Parameter] public Estimation? Estimation { get; set; }
    [Parameter] public bool EditMode { get; set; } = false;

    public ISection? SelectedSection { get; private set; } = null;
    public object? SelectedSectionItem { get; private set; } = null;

    public void SetSelectedSection(ISection? section)
    {
        SelectedSection = section;
        StateHasChanged();
    }
    public void SetSelectedSectionItem(object item)
    {
        SelectedSectionItem = item;
        StateHasChanged();
    }

    IEnumerable<ISection> SectionsInOrder()
    {
        List<ISection> sections = new();
        if(View is null)
        {
            return Array.Empty<ISection>();
        }
        sections.AddRange(View.SheetSections);
        sections.AddRange(View.DataSections);
        return sections.OrderBy(x => x.Order);
    }
    public void NotifyStateChanged() => StateHasChanged();
}