<MudToolBar Class="border-b border-solid" Gutters="false" Style="height: 128px; width: 100%; overflow: auto;">
    <div class="d-flex" style="height: 100%; width: 100%;">
        @ChildContent
    </div>
            
</MudToolBar>

@code{
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
