@using AppPlatform.Shared.Components.View.Edit
@using AppPlatform.Shared.Components.View.SheetSectionStuff

<CascadingValue Value="this">

 @*    @if(EditMode)
    {
        <ViewEditToolbar>
            <ToolbarActions ChangedRowFormat="View?.SheetSections.FirstOrDefault()?.RowFormats.FirstOrDefault(x => x.RowType == Core.Enums.ViewTemplate.SheetRowType.ChangedRow)"/>
        </ViewEditToolbar>
    } *@


    <div style="height: 100%; display: flex; width: 100%;">
        <div class="gap-4" style="display: flex; flex-direction: column; height: 100%;">
        

            <style>
                .ViewPresenter > * {
                 @($"font-family: {View?.FontFamily};")
                }
            </style>

            <MudPaper Class="ViewPresenter pa-4" Square="true" Width="900px;" Height="100%" Elevation="5">


                @foreach (var section in SectionsInOrder())
                {
                    if (section is SheetSection sheetSection)
                    {
                        <SheetSectionPresenter Section="sheetSection" Estimation="Estimation" View="View" DoItemsStartAsExpanded="DoTableItemsStartAsExpanded" />
                    }
                    else if (section is DataSection dataSection)
                    {
                        <DataSectionPresenter Section="dataSection" Estimation="Estimation" />
                    }
                    else
                    {
                        throw new NotImplementedException();
                    }
                }


            </MudPaper>
        </div>
    
    </div>

</CascadingValue>

@code{
    [Parameter] public View? View { get; set; }
    [Parameter] public Estimation? Estimation { get; set; }
    [Parameter] public bool DoTableItemsStartAsExpanded { get; set; } = false;

    public ISection? SelectedSection { get; private set; } = null;
    public object? SelectedItem { get; private set; } = null;

    public void SetSelectedSection(ISection? section)
    {
        SelectedSection = section;
        StateHasChanged();
    }
    public void SetSelectedSectionItem(object item)
    {
        SelectedItem = item;
        StateHasChanged();
    }

    IEnumerable<ISection> SectionsInOrder()
    {
        List<ISection> sections = new();
        if(View is null)
        {
            return Array.Empty<ISection>();
        }
        sections.AddRange(View.SheetSections);
        sections.AddRange(View.DataSections);
        return sections.OrderBy(x => x.Order);
    }
    public void NotifyStateChanged() => StateHasChanged();
}