<h3>Title</h3>


@foreach (var item in Estimation.Items)
{
    <MudText Typo="Typo.subtitle2">@item.Name</MudText>
}


@code {
    [Parameter, EditorRequired] public required Estimation Estimation { get; set; }
    void testui()
    {
        //Estimation.Items.First().Name
    }
}
