@inherits LayoutComponentBase


<CascadingValue Value="Theme">

    <MudThemeProvider Theme="Theme" />
    <MudDialogProvider FullWidth="true"
                       MaxWidth="MaxWidth.ExtraSmall"
                       CloseButton="true"
                       DisableBackdropClick="true"
                       NoHeader="false"
                       Position="DialogPosition.Center"
                       CloseOnEscapeKey="true" />
    <MudSnackbarProvider />

    <AppBar Height="50px">
        <a href="dashboard" class="align-self-center"><h1 Class="px-4 mud-primary-text">BidCon rapport</h1></a>
    </AppBar>
    <div style="position: fixed; height: calc(100% - 50px); width: 100%; top: 50px; background-color: var(--mud-palette-background-grey);">
        @Body
    </div>
    




</CascadingValue>
@code {
    public MudTheme Theme { get; set; } = SharedWebLibrary.CustomThemes.CollieStandard;
    [Inject] public required IStringLocalizer<MainLayout> Localizer { get; set; }
    bool _drawerOpen = true;
    //MudButton

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}