<div class="d-flex" style="height: 100%;">
    @if(NavigationContent is not null)
    {
        <div class="pa-4" style="height: 100%;">
            @NavigationContent
        </div>
        <MudDivider Vertical="true"/>
    }
    <div style="width: 100%;">
        <div style="height: @ToolbarHeight; background-color: var(--mud-palette-table-lines); width: 100%;" class="d-flex justify-center align-stretch mud-elevation-1">
            @ToolbarContent
        </div>
        <div class="pa-4" style="height: calc(100% - @ToolbarHeight); width: 100%; overflow: auto">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? NavigationContent { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? ToolbarContent { get; set; }
    [Parameter] public string ToolbarHeight { get; set; } = "0px";
}
