<div style="width: 100%; display: @(TabController.ActiveTab == this ? "block" : "none")">
    <div class="@Class" style="height: 100%; width: 100%; overflow: auto; @Style">
        @if(TabController.ActiveTab == this || KeepAlive)
        {
            @ChildContent
        }
    </div>
</div>

@code {
    [CascadingParameter] public required PageTabLayout TabController { get; set; } 
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string HeaderStartIcon { get; set; } = string.Empty;
    [Parameter] public string HeaderText { get; set; } = string.Empty;
    [Parameter] public string? HeaderTooltip { get; set; } = string.Empty;
    [Parameter] public bool KeepAlive { get; set; } = false;
    [Parameter] public string Class { get; set; } = string.Empty;
    [Parameter] public string Style { get; set; } = string.Empty;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            TabController.AddTab(this);
        }
    }
}