@using AppPlatform.Shared.Services
<MudSimpleTable Dense="true" Bordered="false">
    <tbody>
        @foreach (var claimInfo in AccessClaimInfoContainer.AccessClaimInfos)
        {
            <tr>
                <td class="pl-2">
                    <MudCheckBox T="bool" 
                                 Dense="true" 
                                 Value="@AccessClaimValues.Any(x => x == claimInfo.Value)" 
                                 Label="@claimInfo.Description"
                                 ValueChanged="x => OnCheckChanged(claimInfo, x)" />
                </td>
            </tr>
            
        }
    </tbody>
</MudSimpleTable>

@inject IAccessClaimInfoContainer AccessClaimInfoContainer

@code{
    [Parameter] public IEnumerable<string> AccessClaimValues { get; set; } = new List<string>();
    [Parameter] public EventCallback<PickChangedRecord<IAccessClaimInfo>> PickChanged { get; set; }

    Task OnCheckChanged(IAccessClaimInfo info, bool isChecked)
    {
        return PickChanged.InvokeAsync(new (info, isChecked));
    }

}