@inject IStringLocalizer<RoleList> Localizer

<MudSimpleTable Hover="false" Dense="true" Bordered="false">
    <tbody>
        @foreach (var role in RolesIterator)
        {
            <tr>
                <td class="pl-2">
                    <MudText Typo="Typo.body2">@role.Name</MudText>
                </td>
                <td>
                    <MudText Typo="Typo.body2">@role.Description</MudText>
                </td>
                <td>
                    <div style="display: flex; justify-content: flex-end;">
                        <MudIconButton Icon="@Icons.Material.Sharp.Edit" Color="Color.Primary" OnClick="() => EditRoleAccess(role)" Size="Size.Small" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@inject IRoleService RoleService
@inject NavigationManager NavigationManager
@code {
    [Parameter] public List<Role> Roles { get; set; } = new();
    IEnumerable<Role> RolesIterator => Roles.OrderBy(x => x.Name);


    void EditRoleAccess(Role role)
    {
        NavigationManager.NavigateTo($"{Constants.ModuleRoutes.RoleAccessEdit}/{role.Id}");
    }
}