@page "/Settings/UserAccess"
@layout SettingsLayout
@inject IStringLocalizer<UserAccessPage> Localizer


<SettingsPageBase>
    <SettingsSection Title="@Localizer["Användare"]">
        <MudList Clickable="true">
            @foreach (var user in UsersIterator)
            {
                <MudListItem OnClick="() => EditUserAccess(user)">
                    <div class="d-flex" style="align-items: center; ">
                        <MudAvatar Class="mud-fab">
                            @if (user.PhotoBase64 != null)
                            {
                                <MudImage Src="@($"data:image/png;base64, {user.PhotoBase64}")" Alt="User photo" />
                            }
                            else
                            {
                                <div class="pa-0">
                                    @user.User.DisplayName?.First()
                                </div>
                            }
                        </MudAvatar>
                        <MudText Class="pl-2" Typo="Typo.subtitle2">@user.User.DisplayName</MudText>
                    </div>
                </MudListItem>
            }
        </MudList>
    </SettingsSection>
</SettingsPageBase>



@inject IMicrosoftGraphUserAccess MicrosoftGraphUserAccess
@inject NavigationManager NavigationManager

@code{
    UserWithPhoto? SelectedUser { get; set; }
    List<UserWithPhoto> Users { get; set; } = new();
    IEnumerable<UserWithPhoto> UsersIterator => Users.OrderBy(x => x.User.DisplayName);

    protected override async Task OnInitializedAsync()
    {
        Users.AddRange(await MicrosoftGraphUserAccess.GetUsersWithPhotoAsync());
        StateHasChanged();
    }
    void EditUserAccess(UserWithPhoto user)
    {
        NavigationManager.NavigateTo($"{Constants.ModuleRoutes.UserAccessSettings}/{user.User.Id}");
    }
}