<div style="display: none">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
<div class="d-flex" style="height: 100%;">

    <div class="pa-4" style="height: 100%;">
        @foreach (var tab in Tabs!)
        {
            @tab.NavigationHeader
        }
    </div>
    <MudDivider Vertical="true"/>
    
    <div style="width: 100%;">
        
        @if(SelectedTab is not null)
        {
            @SelectedTab.Render();
        }
        
    </div>
    
</div>




@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private List<PageTab> Tabs { get; set; } = new();
    private PageTab? SelectedTab { get; set; }

    protected override void OnInitialized()
    {
        RenderFragment renderFragment = builder =>
        {
            var index = 0;
            builder.GetAndAdvance(ref index); // Skip the first item, which is the container <PageTabLayout> itself
            while (index < builder.GetComponentCount())
            {
                var tab = new PageTab();
                builder.GetChildContent(index)(tab);
                Tabs.Add(tab);
                index++;
            }
        };

        ChildContent.Invoke(new RenderTreeBuilder(), renderFragment);
    }
    public void SetSelectedTab(PageTab tab)
    {
        SelectedTab = tab;
        StateHasChanged();
    }
    public void AddTab(PageTab tab)
    {
        Tabs.Add(tab);
        StateHasChanged();
    }
}
