<div style="width: 100%; display: @(TabController.ActiveTab == this ? "block" : "none")">
    <div class="pa-4" style="height: 100%; width: 100%; overflow: auto">
        @ChildContent
    </div>
</div>

@code {
    [CascadingParameter] public required PageTabLayout TabController { get; set; } 
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string HeaderStartIcon { get; set; } = string.Empty;
    [Parameter] public string HeaderText { get; set; } = string.Empty;

    private bool _hasRenderdOnce { get; set; } = false;

    protected override void OnInitialized()
    {
        if(!_hasRenderdOnce)
        {
            TabController.AddTab(this);
        }
    }
}