@page "/orders"

<PageLayout>
    <NavigationContent>
        <MudButton Variant="Variant.Text">
            Some Button
        </MudButton>

    </NavigationContent>
    <ChildContent>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
        <h1>orders</h1>
    </ChildContent>
</PageLayout>


