.section-button {
    display: flex;
    padding: 2px 4px 2px 4px;
    justify-content: center;
    align-content: center;
}

.section-button-enabled {
    color: var(--mud-palette-text-primary);
    cursor: pointer;
}

.section-button-disabled {
    color: var(--mud-palette-action-disabled);
}

.section-button-enabled:hover {
    background-color: var(--mud-palette-action-default-hover);
}

.section-button-active {
    padding: 1px 3px 1px 3px;
    border: 1px;
    border-style: solid;
}

.section-button-inactive {
    padding: 2px 4px 2px 4px;
}
