table {
    border-collapse: collapse;
    width: 100%;
/*    cursor: cell;*/
}
tr {
    height: 1px;
}
td, th {
    height: 1px;

}
.table-container {
    padding: 1px;
    box-sizing: border-box;
}
.cell-container {
    display: flex;
    height: 100%;
    display: flex;
    position: relative;
}
.cell-value {
    display: flex;
    flex-grow: 1;
    padding: 8px;
    height: 100%;
/*    justify-content: inherit;
    align-items: inherit;*/
    box-sizing: border-box;
}

.cell-expand-button {
    position: absolute;
    /*left: -32px;*/
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

