/*tr {
    height: 1px;
}

td, th {
    height: 1px;
}

td div, th div {
    display: flex;
    padding: 8px;
    height: 100%;
    justify-content: inherit;
    align-items: inherit;
    box-sizing: border-box;
}

td.selected div, th.selected div {
    padding: 7px;
    border-color: var(--mud-palette-info);
    border-width: 1px;
}

.table-container.selected {
    border-color: var(--mud-palette-info);
    border-width: 1px;
    padding: 0;
}
*/