table {
    border-collapse: collapse;
    width: 100%;
    cursor: cell;
}
tr {
    height: 1px;
}
td, th {
    height: 1px;

}

td:hover, th:hover {

}


.table-container {
    padding: 1px;
    box-sizing: border-box;
}
td .cell-value, th div {
    display: flex;
    padding: 8px;
    height: 100%;
    justify-content: inherit;
    align-items: inherit;
    box-sizing: border-box;
}
td > div, th > div {
    display: flex;
    height: 100%;
}
td.selected .cell-value, th.selected div {
    padding: 7px;
    border-color: var(--mud-palette-info);
    border-width: 1px;
}
.table-container.selected {
    border-color: var(--mud-palette-info);
    border-width: 1px;
    padding: 0;
}

.cell-expand-button {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
}