@using Client.Shared.EstimationViewTemplate.Models;


<SectionToolbar IsActive="IsActive">
    <div class="d-flex mx-auto" style="padding-top: 2px; height: 100%;">

      @*  <MudDivider Light="false" Vertical="true" Class="mx-2"/>*@

        <CellFormatEditor Format="SelectedCell?.CellFormat" StateChangeRequest="StateChangeRequest" />
        
        <MudDivider Light="false" Vertical="true" Class="mx-2" />

        <SheetColumnEditor Column="SelectedColumn" ColumnDeleted="ColumnDeleted" Section="Section" StateChangeRequest="StateChangeRequest"/>

        @*<MudDivider Light="false" Vertical="true" Class="mx-2" />*@
        
    </div>
    
</SectionToolbar>

@code {
    [Inject] public required IStringLocalizer<SheetToolbar> Localizer { get; set; }
    [Inject] public required IDialogService DialogService { get; set; }

    [Parameter, EditorRequired] public bool IsActive { get; set; }
    [Parameter, EditorRequired] public SheetColumn? SelectedColumn { get; set; }
    [Parameter, EditorRequired] public SheetCell? SelectedCell { get; set; }
    [Parameter, EditorRequired] public required SheetSection Section { get; set; }
    [Parameter, EditorRequired] public EventCallback StateChangeRequest { get; set; }
    [Parameter, EditorRequired] public EventCallback ColumnDeleted { get; set; }

}
