<div class="mud-input-control mud-input-control-margin-dense mud-field d-flex">
    <div class="mud-input-control-input-container">
        <div class="mud-input mud-input-outlined mud-input-margin-dense mud-shrink">
            <div class="mud-input-slot mud-input-root mud-input-root-outlined mud-input-root-margin-dense pa-0 d-flex">
                <input @bind-value="Value" class="flex-grow-1 pb-2 pt-3 px-3" style="outline: 0;" readonly="@ReadOnly" />
            </div>

            <div class="mud-input-outlined-border"></div>
        </div>
        <label class="mud-input-label mud-input-label-animated mud-input-label-outlined mud-input-label-margin-dense mud-input-label-inputcontrol" for="mudinput-ff9c252d-a86d-4187-bdb2-42233c509415">@Label</label>
    </div>
</div>



@code {
    [Parameter] public required string Label { get; set; } = string.Empty;
    [Parameter, EditorRequired] public required string Value { get; set; }
    [Parameter] public required bool ReadOnly { get; set; } = false;
}

