<div class="mud-input-control mud-input-control-margin-dense mud-input-input-control">
    <div class="mud-input-control-input-container">
        <div class="pa-0 mud-input mud-input-filled mud-input-adorned-end mud-input-margin-dense mud-input-underline mud-shrink">
            <input @bind-value="Tag" style="outline: 0;" class="pa-2 mud-input-slot mud-input-root mud-input-root-filled mud-input-root-adorned-end mud-input-root-margin-dense" />

            <div class="mud-input-slot mud-input-root mud-input-root-filled mud-input-root-adorned-end mud-input-root-margin-dense" style="display:none" tabindex="-1" _bl_20=""/>
            <div class="mud-input-adornment mud-input-adornment-end mud-input-root-filled-shrink">
                <MudIconButton Icon="@Icons.Material.Sharp.Add" OnClick="AddAsync" Style="height: 35px; width: 35px;" class="align-self-center" />
            </div>
        </div>
    </div>
</div>

@code {
    private string _tag = string.Empty;
    public string Tag
    {
        get => _tag; set
        {
            _tag = value;
            Validate();
        }
    }
    [Parameter] public EventCallback<string> OnAddClick { get; set; }
    [Parameter,EditorRequired] public required int MaxLength { get; set; }

    public void Validate()
    {
        //TODO: implement
    }
    public async Task AddAsync()
    {
        if (string.IsNullOrEmpty(Tag) || Tag.Length > MaxLength)
        {
            Tag = string.Empty;
            return;
        }
        await OnAddClick.InvokeAsync(Tag);
        Tag = string.Empty;
    }
    
}
