<ExpansionFrame TitleText="@Localizer["Utseende"]" Style="position: relative; background-color: var(--mud-palette-background)">

    <MudOverlay DarkBackground="true" Visible="IsLoading" Absolute="true">
        <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
    </MudOverlay>

    <div class="pa-4">
        <MudSwitch Checked="IsDarkMode" CheckedChanged="@(async (bool value) => await OnDarkModeChanged(value))" Color="Color.Primary" Label="@Localizer["Mörkts tema"]" />
    </div>
    

</ExpansionFrame>

@code {
    [Inject] public required IStringLocalizer<AppearanceFrame> Localizer { get; set; }
    [Inject] public required IDarkModeService DarkModeService { get; set; }
    [CascadingParameter(Name = "DarkModeAction")] public required Action<bool> DarkModeAction { get; set; }

    bool IsDarkMode = false;
    bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        IsDarkMode = await DarkModeService.GetUserDarkModeSettingAsync();
        IsLoading = false;
    }
    public async Task OnDarkModeChanged(bool isDarkMode)
    {
        IsDarkMode = isDarkMode;
        DarkModeAction.Invoke(isDarkMode);
        await DarkModeService.SetUserDarkModeSettingAsync(isDarkMode);
    }
}
