<div class="border border-solid pa-2">
    <MudFileUpload T="IBrowserFile" Accept=".config" OnFilesChanged="(FileChanged)">
        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       for="@context">
                @Localizer["Hämta värden från .config fil"]
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>

</div>

@code {
    [Inject] public required IStringLocalizer<CredentialsView> Localizer { get; set; }
    string? FileString { get; set; }

    private async Task FileChanged(InputFileChangeEventArgs args)
    {
        using (var stream = args.File.OpenReadStream())
        using(var reader = new StreamReader(stream))
        {
            FileString = await reader.ReadToEndAsync();
        }
    }

    void StartDrag()
    {
        
    }
    void StopDrag()
    {

    }
   
}
