li {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    /*padding: 8px;*/
}
li:hover {
    background-color: var(--mud-palette-action-default-hover); /*var(--mud-palette-action-default-hover)*/
    cursor: pointer;
}
li.selected {
    background-color: var(--mud-palette-primary-hover);
    color: var(--mud-palette-primary);
}