<AuthorizedNavLink Href="@Href" Policy="@AuthPolicy" Match="Match" Style="height: 100%;" Class="d-flex align-center px-4">
    <MudIcon Icon="@Icon" Size="Size.Medium" />
    <div class="text-container">
        <MudText Inline="true" >@Text</MudText>
    </div>
    
</AuthorizedNavLink>

@code {
    [Parameter] public string? Href { get; set; }
    [Parameter] public string? AuthPolicy { get; set; }
    [Parameter] public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
    [Parameter] public string? Icon { get; set; }
    [Parameter] public string? Text { get; set; }

}