.AppLink {
}

.AppLink:hover {
    background-color: var(--mud-palette-action-default-hover);
}

.Active {
    color: var(--mud-palette-primary);
    background-color: var(--mud-palette-primary-hover);
}

.Active:hover {
    color: var(--mud-palette-primary);
    background-color: rgba(var(--mud-palette-primary-rgb), 0.12);
}
