@using static AppPlatform.SharedModule.Components.CustomMudField

<div class="d-flex" style="@JustifyContent">
    <div style="display: flex; align-items: flex-end;">
        <MudText Typo="Typo.subtitle1" Style="font-weight: bold; margin-bottom: -4px;">@Title</MudText>
    </div>
    <div style="padding-bottom: 4px;">
        @ChildContent
    </div>
</div>

@code{
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public HeaderAlignment Alignment { get; set; }
    [Parameter] public string? Title { get; set; }

    string JustifyContent => Alignment switch
    {
        HeaderAlignment.Left => "justify-content: flex-start",
        _ => "justify-content: space-between;"
    };
}