@inherits LayoutComponentBase


<CascadingValue Value="Theme">

    <MudThemeProvider Theme="Theme" />
    <MudDialogProvider FullWidth="true"
                       MaxWidth="MaxWidth.ExtraSmall"
                       CloseButton="true"
                       DisableBackdropClick="true"
                       NoHeader="false"
                       Position="DialogPosition.Center"
                       CloseOnEscapeKey="true" />
    <MudSnackbarProvider />


    <MudLayout>

        <DefaultAppBar/>
       

        <MudMainContent>
            <div>
                @Body
            </div>
            <MudScrollToTop>
                <MudIconButton Variant="Variant.Filled" Size="Size.Large" Class="rounded-circle pa-2" Icon="@Icons.Material.Sharp.ArrowUpward" Color="Color.Success"/>
            </MudScrollToTop>
        </MudMainContent>
    </MudLayout>

</CascadingValue>
@code {
    public MudTheme Theme { get; set; } = CustomThemes.CustomStandardTheme;
}