@using Client.Features.Settings.EstimationView.Models;
@using Client.Shared.EstimationViewTemplate.Models.SectionModels;
@using Client.Features.Settings.EstimationView;

<MudPaper Style="height: 40px; background-color: var(--mud-palette-table-lines);" Elevation="0" Class="border-b border-solid d-flex justify-space-around">
    <div>
        @if (Selection?.Section is DataSection dataSection)
        {
            <p>I am a data section</p>
        }
        else if (Selection?.Section is SheetSection sheetSection)
        {
            @if(Selection.ActiveTool is SheetColumnTool columnTool)
            {
                <p>ColumnTool</p>
            }
            <MudButton Style="min-width: 40px" OnClick="() => AddColumnToSheetSection(sheetSection)">
                <MudIcon Icon="@Icons.Material.Sharp.Add" Color="Color.Success"/>
            </MudButton>
        }
        else
        {
            <p>I am nothing</p>
        }
    </div>

</MudPaper>

@code {
    [Inject] public required IStringLocalizer<SectionSpecificToolbar> Localizer { get; set; }
    [Parameter, EditorRequired] public SectionSelection? Selection { get; set; }
    [Parameter, EditorRequired] public EventCallback StateChangedRequest { get; set; }

    void AddColumnToSheetSection(SheetSection section)
    {
        section.Columns.Add(new SheetColumn { WidthPercent = 10 });
        StateChangedRequest.InvokeAsync(section);
    }
}
