li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

li.selected {
    background-color: var(--mud-palette-primary-hover);
    color: var(--mud-palette-primary);
}
input:focus {
    border-color: var(--mud-palette-primary);
    border-width: 2px;
    padding: 3px;
}

li div {
    display: flex;
    align-items: center;
}
li * {

}
input {
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    box-sizing: border-box;
}