@    using SharedPlatformLibrary.Features.Placeholder;
    using SharedPlatformLibrary.Utilities.Placeholder;
<MudDialog>
    <DialogContent>
        <div class="border-x border-t border-solid pa-2" style="border-color: var(--mud-palette-lines-inputs);">
            <MudText Typo="Typo.h6">@Localizer["Kalkyllänkar"]</MudText>
        </div>
        <MudList Class="border border-solid" Style="border-color: var(--mud-palette-lines-inputs);" Clickable="true" DisableGutters="true" Dense="true" DisablePadding="true" @bind-SelectedItem="SelectedItem">
            @foreach (var info in PlaceholderInfos)
            {
                <MudListItem Class="px-2" Text="@PlaceHolderNameMap[info.Placeholder]" Value="info.Placeholder" />
            }
        </MudList>
    </DialogContent>
    <DialogActions>
        <div Class="pr-4 pb-2">
            <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Inherit">@Localizer["Stäng"]</MudButton>
            <MudButton OnClick="Select" Variant="Variant.Filled" Color="Color.Success" Disabled="SelectedItem is null">@Localizer["Välj"]</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [Inject] public required IStringLocalizer<EstimationPlaceholderSelectorDialog> Localizer { get; set; }
    [CascadingParameter] public required MudDialogInstance MudDialog { get; set; }
    Dictionary<string, string> PlaceHolderNameMap { get; set; } = new();
    ICollection<PlaceholderInfo> PlaceholderInfos { get; set; } = PlaceholderFunctions.GetPlaceholderPreopertyInfos(typeof(EstimationDTO)).ToList();

    MudListItem? SelectedItem { get; set; }

    protected override void OnInitialized()
    {
        PlaceHolderNameMap = new Dictionary<string, string>
        {
            { "{Name}", Localizer["Projektkod"] },
            { "{Description}", Localizer["Projektbenämning"] },
            { "{Representative}", Localizer["Granskare"] },
            { "{Supervisor}", Localizer["Handläggare"] },
            { "{Currency}", Localizer["Valuta"] },
            { "{CostBeforeChanges}", Localizer["Försäljningspris utan ändringar"] },
            { "{CreationDate}", Localizer["Skapardatum"] },
            { "{ExpirationDate}", Localizer["Utgångsdatum"] },
            { "{PrintDate}", Localizer["Utskriftsdatum"] },
        };
    }

    void Select() => MudDialog.Close(SelectedItem?.Value);
    void Cancel() => MudDialog.Cancel();
}
