@page "/second"
@using BidConReport.Shared.Models;
@attribute [Authorize]

<button @onclick="GetEstimations">Get estimations</button>

@foreach (var item in Estimations)
{
    <h4>@item.ToString()</h4>
}



@code {
    [Inject] public required IHttpClientFactory _httpClientFactory { get; set; }
    public required List<DbEstimation> Estimations { get; set; } = new();
    async Task GetEstimations()
    {
        var client = _httpClientFactory.CreateClient("DesktopBridge");
        var result = await client.GetAsync("Bidcon/GetEstimations");
        Estimations.Clear();
        if(result.IsSuccessStatusCode)
        {
            var estimations = await result.Content.ReadFromJsonAsync<IEnumerable<DbEstimation>>();
            Estimations.AddRange(estimations!);
        }
        StateHasChanged();
    }
}
