@using BidConReport.Client.BFF;
@using BidConReport.Shared.Extensions;

<AuthorizeView>
    <Authorized>
        <strong>Hello, @context.User.GetMicrosoftName()</strong>
        @*<a href="@context.User.FindFirst("bff:logout_url")?.Value">Log out</a>*@
        @*<a href="https://login.microsoftonline.com/9d0a59b5-4fcb-477e-bdac-61281aff99fd/saml2">Log out</a>*@
    </Authorized>
    <NotAuthorized>
        <a href="bff/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
