@page "/bidcon/report"


<Toolbar Height="40px">
    
</Toolbar>


<MudContainer MaxWidth="MaxWidth.Medium" >

    

    <MudPaper Square="true" Elevation="4" Class="my-2">

        <div style="overflow-y: auto; position: relative; height: calc(100vh - 145px)">
            <table class="striped">
                <tbody>
                    <Virtualize Items="EstimationsContainer.ImportedEstimations">
                        <tr class="d-flex">

                            <td class="d-flex flex-grow-1 pa-2">
                                <MudIcon Icon="@Icons.Material.Sharp.Article" Color="@Color.Tertiary" Class="align-self-center" />
                                <MudText Class="align-self-center ml-2">@context.Estimation.ToString()</MudText>
                            </td>

                        </tr>
                    </Virtualize>
                </tbody>
            </table>
        </div>
        
    </MudPaper>

    
    
</MudContainer>



@code{

    [Inject] public required IEstimationContainerService EstimationsContainer { get; set; }
    [Inject] public required IStringLocalizer<Report> Localizer { get; set; }


}